/*
GateForge IAM API

Public HTTP API for GateForge IAM — OpenID Connect / OAuth2 endpoints at the server root, plus the application JSON API under `/api/v1` (auth, MFA, WebAuthn, tenants, and platform admin). Success responses for `/api/v1` use a `{meta, data}` envelope. OAuth token and userinfo errors use `{error, error_description}`.

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type FederationAPI interface {

	/*
	CallbackFederationOAuth Federated OAuth callback

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider id (e.g. google)
	@return ApiCallbackFederationOAuthRequest
	*/
	CallbackFederationOAuth(ctx context.Context, provider string) ApiCallbackFederationOAuthRequest

	// CallbackFederationOAuthExecute executes the request
	CallbackFederationOAuthExecute(r ApiCallbackFederationOAuthRequest) (*http.Response, error)

	/*
	ListFederationProviders List enabled federation sign-in methods for a tenant

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListFederationProvidersRequest
	*/
	ListFederationProviders(ctx context.Context) ApiListFederationProvidersRequest

	// ListFederationProvidersExecute executes the request
	//  @return PublicFederationProviderListEnvelope
	ListFederationProvidersExecute(r ApiListFederationProvidersRequest) (*PublicFederationProviderListEnvelope, *http.Response, error)

	/*
	StartFederationOAuth Start federated sign-in (OIDC browser flow)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param provider Provider id (e.g. google)
	@return ApiStartFederationOAuthRequest
	*/
	StartFederationOAuth(ctx context.Context, provider string) ApiStartFederationOAuthRequest

	// StartFederationOAuthExecute executes the request
	StartFederationOAuthExecute(r ApiStartFederationOAuthRequest) (*http.Response, error)
}

// FederationAPIService FederationAPI service
type FederationAPIService service

type ApiCallbackFederationOAuthRequest struct {
	ctx context.Context
	ApiService FederationAPI
	provider string
	code *string
	state *string
	error_ *string
	errorDescription *string
}

// Authorization code
func (r ApiCallbackFederationOAuthRequest) Code(code string) ApiCallbackFederationOAuthRequest {
	r.code = &code
	return r
}

// State
func (r ApiCallbackFederationOAuthRequest) State(state string) ApiCallbackFederationOAuthRequest {
	r.state = &state
	return r
}

// OAuth error code from provider
func (r ApiCallbackFederationOAuthRequest) Error_(error_ string) ApiCallbackFederationOAuthRequest {
	r.error_ = &error_
	return r
}

// OAuth error description from provider
func (r ApiCallbackFederationOAuthRequest) ErrorDescription(errorDescription string) ApiCallbackFederationOAuthRequest {
	r.errorDescription = &errorDescription
	return r
}

func (r ApiCallbackFederationOAuthRequest) Execute() (*http.Response, error) {
	return r.ApiService.CallbackFederationOAuthExecute(r)
}

/*
CallbackFederationOAuth Federated OAuth callback

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param provider Provider id (e.g. google)
 @return ApiCallbackFederationOAuthRequest
*/
func (a *FederationAPIService) CallbackFederationOAuth(ctx context.Context, provider string) ApiCallbackFederationOAuthRequest {
	return ApiCallbackFederationOAuthRequest{
		ApiService: a,
		ctx: ctx,
		provider: provider,
	}
}

// Execute executes the request
func (a *FederationAPIService) CallbackFederationOAuthExecute(r ApiCallbackFederationOAuthRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FederationAPIService.CallbackFederationOAuth")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oidc/federation/{provider}/callback"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.code == nil {
		return nil, reportError("code is required and must be specified")
	}
	if r.state == nil {
		return nil, reportError("state is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	if r.error_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error", r.error_, "form", "")
	}
	if r.errorDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "error_description", r.errorDescription, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListFederationProvidersRequest struct {
	ctx context.Context
	ApiService FederationAPI
	tenantId *string
	page *int32
	pageSize *int32
}

// Tenant UUID (defaults to DEFAULT_TENANT_ID)
func (r ApiListFederationProvidersRequest) TenantId(tenantId string) ApiListFederationProvidersRequest {
	r.tenantId = &tenantId
	return r
}

// Page number
func (r ApiListFederationProvidersRequest) Page(page int32) ApiListFederationProvidersRequest {
	r.page = &page
	return r
}

// Page size
func (r ApiListFederationProvidersRequest) PageSize(pageSize int32) ApiListFederationProvidersRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiListFederationProvidersRequest) Execute() (*PublicFederationProviderListEnvelope, *http.Response, error) {
	return r.ApiService.ListFederationProvidersExecute(r)
}

/*
ListFederationProviders List enabled federation sign-in methods for a tenant

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListFederationProvidersRequest
*/
func (a *FederationAPIService) ListFederationProviders(ctx context.Context) ApiListFederationProvidersRequest {
	return ApiListFederationProvidersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PublicFederationProviderListEnvelope
func (a *FederationAPIService) ListFederationProvidersExecute(r ApiListFederationProvidersRequest) (*PublicFederationProviderListEnvelope, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublicFederationProviderListEnvelope
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FederationAPIService.ListFederationProviders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/federation/providers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenant_id", r.tenantId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStartFederationOAuthRequest struct {
	ctx context.Context
	ApiService FederationAPI
	provider string
	returnTo *string
}

// URL to return to after login (must be /authorize on this app)
func (r ApiStartFederationOAuthRequest) ReturnTo(returnTo string) ApiStartFederationOAuthRequest {
	r.returnTo = &returnTo
	return r
}

func (r ApiStartFederationOAuthRequest) Execute() (*http.Response, error) {
	return r.ApiService.StartFederationOAuthExecute(r)
}

/*
StartFederationOAuth Start federated sign-in (OIDC browser flow)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param provider Provider id (e.g. google)
 @return ApiStartFederationOAuthRequest
*/
func (a *FederationAPIService) StartFederationOAuth(ctx context.Context, provider string) ApiStartFederationOAuthRequest {
	return ApiStartFederationOAuthRequest{
		ApiService: a,
		ctx: ctx,
		provider: provider,
	}
}

// Execute executes the request
func (a *FederationAPIService) StartFederationOAuthExecute(r ApiStartFederationOAuthRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FederationAPIService.StartFederationOAuth")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/oidc/federation/{provider}/start"
	localVarPath = strings.Replace(localVarPath, "{"+"provider"+"}", url.PathEscape(parameterValueToString(r.provider, "provider")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.returnTo == nil {
		return nil, reportError("returnTo is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "return_to", r.returnTo, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
